$font-size: 26px;
$font-title: 48px;
$color-main: #b3b9b9;
$color-text: #171a1d;
$color-effect-link: #b3b9b9;
$color-hover: #b3b9b9;
$color-container: #f9f9f9;;
$color-container-about: #f0f0f0;
$color-text-white: #f9f9f9;
$color-footer: #c2c2c2;
$color-description: #4d4d4d;
$color-hover-div: #4a73fa;