@import '../../abstract/variables';

#skills{
    background-color: $color-container-about;
    padding: 80px 0;
    color: #FFF;
    h2{
        text-transform: uppercase;
        font-size: calc($font-size * 1.5);
    }
    .skills-container{
        display: flex;
        flex-wrap: wrap;
        margin: auto 200px;
        justify-content: center;
        align-items: center;
        .skills-box{
            padding: 40px;
            width: 15rem;
            height: 15rem;
            border-radius: 25px;
            background-color: #000000;
            box-shadow: 16px 14px 20px #0000008c;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 40px 50px;
            position: relative;
            overflow: hidden;
            h3{
                z-index: 1;
            }
            img{
                z-index: 1;
                box-sizing: border-box;
                border: none;
                margin-bottom: 20px;
                width: 80px;
                height: 80px;
            }
            &::before{
                content: '';
                position: absolute;
                left: -50%;
                top: -50%;
                width: 200%;
                height: 200%;
                
                animation: rotate 4s linear infinite;
            }
            &::after{
                content: "";
                width: 14.5rem;
                height: 14.5rem;
                background-color: #000000;;
                position: absolute;
                border-radius: 25px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .orange{
            &::before{
                background: conic-gradient(transparent, rgb(255, 94, 0), transparent 30%);
            }
        }
        .blue{
            &::before{
                background: conic-gradient(transparent, rgb(0, 81, 255), transparent 30%);
            }
        }
        .yellow{
            &::before{
                background: conic-gradient(transparent, rgb(255, 251, 0), transparent 30%);
            }
        }
        .pink{
            &::before{
                background: conic-gradient(transparent, rgb(255, 0, 200), transparent 30%);
            }
        }
        .purple{
            &::before{
                background: conic-gradient(transparent, rgb(212, 0, 255), transparent 30%);
            }
        }
        .marin{
            &::before{
                background: conic-gradient(transparent, rgb(0, 217, 255), transparent 30%);
            }
        }
        .gray{
            &::before{
                background: conic-gradient(transparent, rgb(119, 119, 119), transparent 30%);
            }
        }
    }
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

@media (max-width: 880px){
    #skills{
        .skills-container{
            margin: 0px 0px;
            div{
                margin: 0;
            }
        }
    }
}