@import '../../abstract/variables';

#aboutme{
    background-color: $color-container-about;
    scroll-margin-top: 80px;
    .aboutme-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: auto;
        padding-bottom: 80px;
        gap: 5%;
        flex-wrap: wrap;
        max-width: 1150px;
        div{
            min-width: 30%;
            img{
                width: 368px;
                height: 368px;
                border-radius: 20px;
            }
        }
        aside{
            display: flex;
            flex-direction: column;
            line-height: 1.5rem;
            align-items: center;
            width: 50%;
            gap: 2rem;
            h2{
                color: $color-text;
                font-size:  calc($font-size * 1.5);
                text-transform: uppercase;
            }
            h3{
                color: $color-text;
                font-size: calc($font-size * 0.9);
            }
            p{
                text-align: start;
                color: $color-description;
                font-size: calc($font-size * 0.7);
                max-width: 700px;
            }
            a{
                display: flex;
                align-self: center;
                justify-content: center;
                text-decoration: none;
                width: 40%;
                div{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding: 10px 100px;
                    border-radius: 8px;
                    border: 3px solid $color-text;
                    transition: 0.3s;
                    letter-spacing: 1px;
                    gap: 5px;
                    transition: 0.3s;
                    height: 50px;
                    width: auto;
                    img{
                        width: 24px;
                        height: 24px;
                    }
                    &:hover{
                        transform: scale(1.1);
                        background-color: $color-effect-link;
                    }
                    p{
                        color: $color-text;
                    }
                }
            }
        }
    }
}

@media (max-width: 880px){
    #aboutme{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        .aboutme-container{
            width: 80%;
            aside{
                width: 80%;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    div{
                        width: auto;
                        height: 50px;
                        padding: 10px 100px;
                    }
                }
            }
            div{
                img{
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}