@import '../../abstract/variables';

#home{
    .home-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 110vh;
       /*  max-width: 1150; */
        margin: 0 auto;
        padding-left: 160px;
        .container-animation{
            div{
                max-width: 50%;
                width: 600px;
                height: 600px;
                svg{
                    width: 600px !important;
                }
            }
            
        }
        .home-description{
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                font-size: calc($font-size * 2.6);
                color: $color-text;
            }
            p{
                font-size: calc($font-size * 1.2);
                color: $color-description;
            }
            .button{
                display: flex;
                flex-direction: row;
                gap: 40px;
                .image-link{ 
                    text-decoration: none;
                    color: $color-text;

                    .button-link{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 3px 10px 5px;
                        border-radius: 8px;
                        border: 3px solid $color-text;
                        transition: 0.3s;
                        letter-spacing: 1.5px;
                        height: 40px;
                        gap: 5px;
                        transition: 0.3s;
                        
                        img{
                            width: 22px;
                            height: 22px;
                        }
                        p{
                            margin-top: 5px;
                            margin-bottom: 0;
                            font-size: calc($font-size /  1.5);
                        }
                        &:hover{
                            transform: scale(1.1);
                            background-color: $color-effect-link;
                        }
                        
                    }
            }
            }
        }
    }
}

@media screen and (max-width: 900px){
    #home{
        .home-container{
            display: flex;
            flex-direction: column;
            height: auto;
            margin-top: 200px;
            padding-left: 0;
            div{
                h1{
                    font-size: calc($font-size * 2.0);
                }
            }
            .container-animation{
                max-width: 350px !important;
                div{
                    svg{
                        width: 350px !important;
                    }
                }
            }
            
        }
    }
}