@import '../../abstract/variables';

#footer {
    background-color: $color-footer;
    padding: 40px 0;
    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1150px;
        margin: 0 auto;
        flex-wrap: wrap;
        div{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0 40px;
            p{
                font-size: calc($font-size * 0.6);
                color: $color-text;
                text-align: start;
                margin: 0;
            }
        }
        aside{
            display: flex;
            gap: 40px;
            padding: 0 40px;
            a{
                img{
                    width: 40px;
                }
            }
        }
    }
}

@media (max-width: 880px){
    #footer{
        .footer-container{
            display: flex;
            justify-content: center;
            gap: 10px;
            div{
                p{
                    text-align: center;
                }
            }
            
        }
    }
}