@import '../../abstract/variables';

#experience{
    background-color: #ebebeb;
    padding: 80px 0;
    scroll-margin-top: 80px;
    h2{
        color: $color-text;
        font-size:  $font-title;
        text-transform: uppercase;
    }
    .experience-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 40px;
        .job-container{
            background-color: white;
            padding: 60px;
            border-radius: 15px;
            width: 600px;
            .logo-container{
                img{
                    width: 200px;
                    object-fit: cover;
                }
            }
            .texts{
                text-align: left;
            }
        }
    }
}