@import '../../abstract/variables';

#contacts{
    padding: 80px 0;
    h2{
        color: $color-text;
        font-size:  $font-title;
        text-transform: uppercase;
    }
    .contact-container{
        max-width: 1150px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 80px;
        padding: 60px 0;        
        .contact-content{
            display: flex;
            flex-direction: row;
            gap: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.26);
            padding: 40px;
            border-radius: 20px;
            span{
                font-size: 30px;
            }
            .contact-info{
                text-align: start;
                
                h3{
                    margin: 0;
                }
                a{
                    text-decoration: none;
                    color: $color-text;
                    transition: 0.5s;
                    &:hover{
                        color: $color-hover;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1160px)  and (min-width: 560px) {
    #contacts{
        .contact-container{
            flex-direction: column;
            .contact-content{
                width: 350px;
            }
        }
    }
}

 @media screen and (max-width: 560px){
    #contacts{
        .contact-container{
            flex-direction: column;
            .contact-content{
                width: 310px;
                padding: 20px;
            }
        }
    }
} 